<!doctype html>
<html>
  <head>
    <title>welcome to {{ title }}</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    <div>
    {% if session.oauthAccessToken %}
      Hello, {{ session.username }}
      <a href = "{{logout}}"><button>Logout</button></a>
    {% else %}
      <a href = "{{login}}"><button>Login</button></a>
    {% endif %}
    </div>

    {% block content %}
    {% endblock %}
  </body>
</html>