{% extends "index.html" %}

{% block styles %}
<script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
<style type="text/css">
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }

  .form-publish {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-publish .form-publish-heading,
  .form-publish .checkbox {
    margin-bottom: 10px;
  }
  .form-publish .checkbox {
    font-weight: normal;
  }
  .form-publish .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-publish .form-control:focus {
    z-index: 2;
  }
  textarea { 
    border-radius:5px; 
    border:1px solid #c0c0c0;
    -moz-border-radius:5px; 
    -webkit-border-radius:5px;
  }

</style>
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-publish" role="form" action="/publish" method="POST">
        <h2 class="form-publish-heading">Publish</h2>
        <input type="text" name="guidstring" class="form-control" placeholder="Share URL" required autofocus>
        <br>
        <textarea rows="4" cols="46" name="description" placeholder="Description" required autofocus></textarea>
        <br>
        <input type="text" name="tags" class="form-control" placeholder="tags" required autofocus>
        <br>
        <select multiple class="form-control" name="category">
          <option value="Business">Business</option>
          <option value="Education">Education</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Lifestyle">Lifestyle</option>
          <option value="Other">Other</option>
        </select>
        <br>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />
      </form>

    </div>
{% endblock %}
