{% extends "index.html" %}

{% block content %}
	<form action="/publish" method="POST">
	  GUID: <input type="text" name="guid" /><br>
	  Description: <textarea name="description"></textarea><br>
	  Tags: <textarea name="tags"></textarea><br>
	  Category: <select name="category">
	  <option value="Business"></option>
	  <option value="Education"></option>
	  <option value="Entertainment"></option>
	  <option value="Lifestyle"></option>
	  <option value="Other"></option>
	  </select>
	  <input type="submit" value="Submit" />
	</form>
{% endblock %}